<div class="row mb-2 mt-2">
    <div class="cow-12">
        <form>
            <div class="row">
                <div class="cow-sm-5 form-group">
                    <label for="nome_alimento">Nome</label>
                    <input type="text" id="nome_alimento" class="form-control">
                </div>
                <div class="cow-sm-2 form-group">
                    <label for="quantidade_alimento">Quantidade</label>
                    <input type="text" id="quantidade_alimento" class="form-control">
                </div>
                <div class="cow-sm-2 form-group">
                    <label for="unidade">Unidade</label>
                    <input type="text" id="unidade" class="form-control">
                </div>                
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <button type="submit" class="btn btn-success mx-md-1">Incluir</button>
                    <button type="button" class="btn btn-danger mx-md-1">Remover</button>
                    <button type="button" class="btn btn-primary mx-md-1">Limpar</button>
                </div>
            </div>
        </form>
    </div>
</div>
